<div class="container-fluid text-center" style="margin-top: 6%;">
    <div class="row align-items-center" style="height: max-content;">
        <div  class="col-md-6" style="height: 10em;">
            <button class="btn" [routerLink]="['../cliente']" type="button" style="width: 80%; height: 8rem; background-color: #358DA6; color: white;">Crear Cliente</button>
        </div>
        <div class="col-md-6" style="height: 10em;">
            <button class="btn" [routerLink]="['../cuenta']" type="button" style="width: 80%; height: 8rem; background-color: #358DA6; color: white;">Crear Cuenta</button>
        </div>
    </div>
</div>