<div class="container-fluid text-center" style="margin-top: 6%;">
    <div class="row">

        <div class="col-md-6">          
            <div *ngFor="let item of data; index as i">
                <div class="card mb-4">
                    <div class="row align-items-center" style="height: 6rem;">
                        <div class="card-content">
                            <h2>Numero Cuenta: {{item.cuenta}}</h2>
                            <p>{{item.monto}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="botones" class="col-md-6" style="height: 40em;">

            <button class="btn" type="button" [routerLink]="['../dynamic']"  style="width: 10rem; height: 8rem; background-color: #358DA6; color: white;">Transferir Dinero</button>
            <button class="btn" type="button" [routerLink]="['../movimientos']"  style="width: 10rem; height: 8rem; margin-left: 10px; background-color: #358DA6; color: white;">Ver Saldos y Movimientos</button>
            
        </div>


    </div>
</div>