<div class="container-fluid" style="margin-top: 6%; width: fit-content;">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body overflow-hidden">
                    <div class="row-m-0">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 px-4 py-3">
                            <h4 class="card-title mb-2 text-center">Transferencia</h4>
                            <form class="form-control" style="border: none;" [formGroup]="transferForm" (ngSubmit)="onSubmit()">
                                <label>Selecciona la cuenta que quieres utilizar</label>
                                <select class="form-select mb-4 form-group" aria-label="Default select example" formControlName="cuenta">
                                    <option *ngFor="let item of data; index as i"> {{item.cuenta}} - {{item.tipo}}
                                    </option>
                                </select>
                                <div class="mb-3 form-group">
                                    <label for="cuentaDestino" class="form-label text-start">Cuenta
                                        Destino</label>
                                    <input type="text" class="form-control" formControlName="cuentaDestino">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="monto" class="text-start form-label">Monto</label>
                                    <input type="number" class="form-control" formControlName="monto">
                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-info" type="submit" [disabled]="transferForm.invalid">Transferir</button>
                                </div>

                                {{this.transferForm.value | json}}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>