*{
    color: white;
    background-color: #358DA6;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}


@media only screen and (max-width: 893px) {
    h1 {
      font-size: 2em!important;
    }
  }



@media only screen and (max-width: 460px) {
    h1 {
      font-size: 1em!important;
    }
}

