<div class="container-fluid">
    <div class="row">    
        <div class="col-md-1 col-2">
            <img class="img-navbar" src="./../../assets/icon_bank3.jpeg" alt="icon_bank" style="margin-left: 25%; max-width: 90%; height:auto;">
        </div>
        <div class="col-md-8 col-10 align-self-center">
            <h1 class="titulo-navbar" style="font-size: 3em;">TU BANCO FIJO A LA FIJA</h1>
        </div>
        <div class="col-md-3 align-self-center justify-content-end text-center">
            <a class="login_btn btn btn.secondary" [routerLink]="['../login']" style="font-size: 1em; margin-right: 5px;">Ingresa a tu cuenta</a>        
        </div>
    </div>
</div>
