
<div class="row align-items-center text-center" style="height: max-content;">
    
    <div class="col-md-1 col-6">
        <img class="img-navbar" src="./../../assets/icon_bank3.jpeg" alt="icon_bank" style="margin-left: 25%; max-width: 90%; height:auto;">
    </div>

    <div class="col-md-8 col-6">
        <h1 class="titulo-navbar" style="font-size: 3em;">TU BANCO FIJO A LA FIJA</h1>
    </div>

    <div class="col-md-3 align-self-center justify-content-end" style="font-size: 2em;">
        <a href="">Ingresa a tu cuenta<i class="ri-account-box-line"></i></a>        
    </div>
</div>