<section class="container text-center ">
    <div class="row mw-90 vh-100 justify-content-center align-items-center">


        <div class="col-md-6" style="color: #87C9B7;">
           <div style="font-size: 4em;"><strong>TU BANCO FIJO A LA FIJA</strong></div>
           <img src="./../../assets/icon_bank.jpeg" alt="icon_banco" style="width: 150px;">
        </div>




        <div class="col-md-6" style="text-align: center;">

            <div class="row" style="margin: 10px;">
                <h5 style="padding: 10px;">¿Quieres tener algo fijo en tu VIDA?</h5>
                <p>Te ofrecemos lo siguiente</p>
            </div>
            <div class="row text-start" style="padding-left: 100px;">
                
                <div>
                    <ul>
                        <li>Información Exacta</li>
                        <li>Conoce todos los movimientos hechos y hacia de tu cuenta</li>
                    </ul>
                </div>
            </div>


            <div>
                
                
                
                
            </div>
            

        </div>
    </div>
</section>