<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de usuarios</span>
            <h5  style="margin-top: 30px;">No hay datos para mostrar</h5>

            <form class="form-group">
              <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Nombre Usuario</th>
                    <th>Tipo Usuario</th>
                    <th>Estado Usuario</th>
                    <th>Bloqueado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios; let i = index" [attr.id]="'fila-' + i">
                    <th> {{usuario.id_usuario}} </th>
                    <td> {{usuario.nombre_completo}}</td>
                    <td> {{usuario.nombre_user}}</td>
                    <td> {{usuario.tipo_usuario}} </td>
                    <td> {{usuario.estado_usuario}} </td>
                    <td>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="usuario.estado_usuario === 'bloqueado'" (change)="cambiarEstadoCuenta(usuario.id_usuario, usuario.tipo_usuario, usuario.estado_usuario)">
                      </div>                      
                    </td>
                  </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>